<form [formGroup]="basicData" (ngSubmit)="onSubmit()">
  <div class="row justify-content-md-center">
    <div class="col-md-3 text-center">
      <p>Add new Patient</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <!-- <span > Basic data validno: {{basicData.valid}}</span>
    <span > da li je dodirnuto {{basicData.controls['firstName'].touched}}</span>
    <span > dali je greska {{basicData.controls['firstName'].errors | json}}</span>
    <span > frst name: {{basicData.controls['firstName'].value}}</span> -->
    <div class="form-group col-md-3">
      <label for="firstName">First name</label>
      <input type="firstName" class="form-control" id="firstName" 
        placeholder="Enter first name" formControlName="firstName">
        <span class="text-danger"
          *ngIf="basicData.controls['firstName'].errors?.['required'] && (basicData.controls['firstName'].touched || submitted)">
          Name is required
        </span>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="lastName">Last name</label>
      <input type="lastName" class="form-control" id="lastName" 
        placeholder="Enter last name" formControlName="lastName">
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="dateOfBirth">Date of birth</label>
      <input type="dateOfBirth" class="form-control" id="dateOfBirth" 
        placeholder="Enter date of birth" formControlName="dateOfBirth">
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="phoneNumber">Phone number</label>
      <input type="phoneNumber" class="form-control" id="phoneNumber" 
        placeholder="Enter phone number" formControlName="phoneNumber">
    </div>
  </div>
  <div class="container">
    <div class="col-md-12 text-center">
        <button type="submit" [disabled]="!basicData.valid" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</form>
