<form [formGroup]="basicData" (ngSubmit)="onSubmit()">
  <div class="row justify-content-md-center">
    <div class="col-md-3 text-center">
      <p>Add new Patient</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="firstName">First name</label>
      <input type="firstName" class="form-control" id="firstName" 
        placeholder="Enter first name" formControlName="firstName">
      <div *ngIf="basicData.controls['firstName'].touched && basicData.controls['firstName'].errors?.['required']" class="alert alert-danger">
        First name is required!
      </div>
      <div *ngIf="basicData.controls['firstName'].touched && basicData.controls['firstName'].errors?.['minlength']" class="alert alert-danger">
        First name must have more than one character!
      </div>
      <div *ngIf="basicData.controls['firstName'].touched && basicData.controls['firstName'].errors?.['pattern']" class="alert alert-danger">
        First name can't be a number!
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="lastName">Last name</label>
      <input type="lastName" class="form-control" id="lastName" 
        placeholder="Enter last name" formControlName="lastName">
        <div *ngIf="basicData.controls['lastName'].touched && basicData.controls['lastName'].errors?.['required']" class="alert alert-danger">
          Last name is required!
        </div>
        <div *ngIf="basicData.controls['lastName'].touched && basicData.controls['lastName'].errors?.['minlength']" class="alert alert-danger">
          Last name must have more than one character!
        </div>
        <div *ngIf="basicData.controls['lastName'].touched && basicData.controls['lastName'].errors?.['pattern']" class="alert alert-danger">
          Last name can't be a number!
        </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="dateOfBirth">Date of birth</label>
      <input type="dateOfBirth" class="form-control" id="dateOfBirth" 
        placeholder="Enter date of birth" formControlName="dateOfBirth">
        <div *ngIf="basicData.controls['dateOfBirth'].touched && basicData.controls['dateOfBirth'].errors?.['required']" class="alert alert-danger">
          Date of birth is required!
        </div>
        


    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="phoneNumber">Phone number</label>
      <input type="phoneNumber" class="form-control" id="phoneNumber" 
        placeholder="Enter phone number" formControlName="phoneNumber">
    </div>
  </div>
  <div class="container">
    <div class="col-md-12 text-center">
        <button type="submit" [disabled]="!basicData.valid" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</form>
