<ng-container [formGroup]="dentalServiceFormGroup">
    <div class="row justify-content-md-center">
      <div class="col-md-3 text-center">
        <p>Edit a Service</p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="form-group col-md-3">
        <label for="serviceName">Service name</label>
        <input type="text" class="form-control" 
        formControlName="serviceName">   
        <div *ngIf="dentalServiceFormGroup.controls['serviceName'].touched && dentalServiceFormGroup.controls['serviceName'].errors?.['required']" class="alert alert-danger">
          Service name is required!
        </div>
        <div *ngIf="dentalServiceFormGroup.controls['serviceName'].touched && dentalServiceFormGroup.controls['serviceName'].errors?.['minlength']" class="alert alert-danger">
          Service name must have more than one character!
        </div>
        <div *ngIf="dentalServiceFormGroup.controls['serviceName'].touched && dentalServiceFormGroup.controls['serviceName'].errors?.['pattern']" class="alert alert-danger">
          Service name can't be a number!
        </div> 
      </div>
    </div>
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" [disabled]="!dentalServiceFormGroup.valid || loading" (click)="editService()">
        Save changes
        <span class="spinner-border spinner-border-sm" role="status" (hidden)="loading = false" *ngIf="loading"></span>
      </button>
    </div>
    <ngb-toast [autohide]="true" class="toast-container-error" [delay]="10000" (hidden)="isErrorToastShown = false" *ngIf="isErrorToastShown">
      Service is not edited!
    </ngb-toast>
  </ng-container>