<form>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="mb-3 row">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input class="form-control" type="text" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search by first name" (change)="findAllFiltered($event)">
                    </div>
                </div>

                <div style="overflow-x:auto">
                    <table>
                        <tr>
                            <th name="sortKey" (click)="onSort('id')">Id</th>
                            <th name="sortKey" (click)="onSort('firstName')">First name</th>
                            <th name="sortKey" (click)="onSort('lastName')">Last name</th>
                            <th name="sortKey" (click)="onSort('dateOfBirth')">Date of birth</th>
                            <th name="sortKey" (click)="onSort('phoneNumber')">Phone number</th>
                        </tr>
                        <tr *ngFor="let d of patients" [attr.id]="d.id">
                            <td class="a">{{ d.id }}</td>
                            <td class="a">{{ d.firstName }}</td>
                            <td class="a">{{ d.lastName }}</td>
                            <td class="a">{{ d.dateOfBirth }}</td>
                            <td class="a">{{ d.phoneNumber }}</td>
                            <td><input type="checkbox"></td>       
                        </tr>
                    </table>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="mb-3 row">
                                <ngb-pagination class="d-flex" [collectionSize]="pageSize * totalPages" [pageSize]="pageSize" [(page)]="page" (pageChange)="findWidthPaging($event)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




<!-- <form [formGroup]="appointmentData" (ngSubmit)="onSubmit()">
    <div class="row justify-content-md-center">
        <div class="col-md-3 text-center">
        <p>Add new Appointment</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="form-group col-md-3">
        <label for="dateOfAppointment">Date of Appointment</label>
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
            formControlName="dateOfAppointment"
            readonly
            (click)="d.toggle()" 
            name="dp" ngbDatepicker 
            (closed)="onCalendarClosed()"
            [minDate]="{year: 1920, month: 1, day: 1}" #d="ngbDatepicker">
            <div *ngIf="calendarClosed && appointmentData.controls['dateOfAppointment'].touched && appointmentData.controls['dateOfAppointment'].errors?.['required']" class="alert alert-danger">
                Please pick the date from calendar!
            </div>
        </div>     
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="form-group col-md-3">
            <label for="timeOfAppointment">Time of Appointment</label>
            <ngb-timepicker [(ngModel)]="time" placeholder="HH-MM" formControlName="timeOfAppointment"></ngb-timepicker>
            <div *ngIf="appointmentData.controls['timeOfAppointment'].touched && appointmentData.controls['timeOfAppointment'].errors?.['required']" class="alert alert-danger">
                Please insert the time in fields!
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form> -->

