<div class="row justify-content-md-center">
  <div class="col-md-3 text-center">
    <p>Edit a Patient</p>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="form-group col-md-3">
    <label for="firstName">First name</label>
    <input type="text" class="form-control" 
      [(ngModel)]="patient && patient.firstName">
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="form-group col-md-3">
    <label for="lastName">Last name</label>
    <input type="text" class="form-control" 
      [(ngModel)]="patient && patient.lastName">
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="form-group col-md-3">
    <label for="dateOfBirth">Date of birth</label>
    <input type="text" class="form-control" 
      [(ngModel)]="patient && patient.dateOfBirth">
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="form-group col-md-3">
    <label for="phoneNumber">Phone number</label>
    <input type="text" class="form-control" 
      [(ngModel)]="patient && patient.phoneNumber">
  </div>
</div>
<div class="col-md-12 text-center">
  <button class="btn btn-primary" (click)="editPatient()">Save changes</button>
</div>


