h1 {
    color:blue;
    /* font-size:100px; */
    font-style: italic;
}

footer {
    padding: 10px 10px 10px 10px;
    background: rgba(153, 147, 147, 0.473);
}
 
img {
    width: 2560px;
    height: 650px;
}

 
